table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.card-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.card-row:not(.expanded-row):active {
  background: #efefef;
}

.card-list-container {
  margin: auto;
  width: 80%;
  margin-top: 30px;
}

.card-row td {
  border-bottom-width: 0;
}

.card-detail {
  overflow: hidden;
  display: flex;
}